/*fonts*/

@font-face
  {
  font-family: "american";
  src: url("fonts/american.ttf");
  }

@font-face
  {
  font-family: "snow";
  src: url("fonts/snow.ttf");
  }
/*header*/
header
  {
  text-align: center;
  }
.mario
  {
  width: 18%;
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  }

.plombe
  {
  display: inline-block;
  font-size: 4em;
  float: left;
  margin-left: 3em;
  font-family: inherit;
  text-shadow: 5px 8px 10px grey;
  }

  .rish
    {
    display: inline-block;
    font-size: 4em;
    float: right;
    margin-right: 3em;
    font-family: inherit;
    text-shadow: 5px 8px 10px grey;
    }

    /*bar de navigation AKA menu*/

    nav ul
    {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    background-color: #333333;
    clear: both;
    text-align: center;
    }

    nav li
    {
    display: inline-block;
    width: 69px;
    height: 40px;
    margin: 0px;
    padding: 0px ;
    border-right: 1px solid #CCCCCC;
    text-align: center;
    line-height: 40px;
    }

    #home:hover
    {
    background-color: rgb(25, 55, 165);
    }
  #tarif:hover
    {
    background-color: rgb(172, 101, 9);
    }
  #contact:hover
  {
  background-color: rgb(166, 25, 29);
  }
  #team:hover
  {
  background-color: rgb(40, 136, 45);
}


    nav li a
      {

      text-decoration: none;
      color: #FFFFFF;
      }

/*section*/

    .tuyaux
      {
      display: block;
      margin: auto;
      margin-top: 1.7em;
      width: 25%;
      }
/*présentation entreprise*/

  h1
  {
  text-align: center;
  font-size: 5em;
  font-family: american;
  color: rgb(210, 45, 45);
  }

  #prez
  {
  border: 10px outset rgb(153, 102, 102);
  margin: 0px 15em;
  font-size: 120%;
  text-align: center;
  font-weight: lighter;
  padding: 5px 25px;
  font-family: american;

  }

  h2
  {
  text-align: center;
  font-size: 45px;
  font-family: snow;
  color: rgb(166, 89, 89);
  }


/*galleries photo*/



#gallerie
  {
  margin-left: 37%;
  margin-bottom: 10em;
  width: 100%;
  }

#galerie
  {
  margin-left: 37%;
  }


  ol li
    {
    position:relative;float:left;
    width:100px;
    height:100px;
    padding:10px;
    list-style:none;
    }

  ol li a
    {
    display:block;overflow:hidden;
    width:100px;height:100px;
    margin-top:0px;margin-left:0px;
    border:0px solid rgba(0,0,0,0.7);
    transition-property:width,height,margin,z-index,border;
    transition-duration:0.4s;
    }

ol li a:hover
  {
  position:absolute;
  width:200px;height:200px;
  margin-top:-56px;margin-left:-56px;
  z-index:100;
  border:6px solid rgba(0,0,0,0.7);
  }

  ol li a img
    {
    position:absolute;
    width:100px;height:100px;z-index:20;
    transition-property:width,height,z-index;
    transition-duration:0.4s;
    }

  ol li a:hover img
    {
    width:200px;height:200px;
    z-index:100;
    }

/*footer*/

footer
  {
  margin-top: 20em;
  }

/*tableaux tarif.html*/

table
  {
  margin: auto;
  border: none;
  }
table, th, td, td
 {
  border: 2px solid black;
  text-align: center;
  border-collapse:collapse;
  padding: 6px;
 }

caption
  {
  text-decoration: underline;
  }

  #tab, #tabb
    {
    margin-top: 10%;
    }

  #footertarif
    {
    margin-top: 5em;
    }
